[Unit]
Description=Run modprobed-db store every 30 minutes

[Timer]
OnUnitActiveSec=30min
Unit=modprobed-db.service

[Install]
WantedBy=timers.target
